.fondo{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 100%;
}
.invertir{
    border: 0.5px solid black;
}
.informacionc{
    font-family: 'Alata', sans-serif;
}
.btnw{
    width: 65%;
    height: 75%;
}
.infot{
    font-size:20px;
}