.fondo{
    margin: 0px;
}
.navbarzzz ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbarzzz li a{
    font-family: Gotham Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: black;
    display: block;
    text-decoration: none;
    background-color: white;
}

.titulo{
    width: auto;
    height: 132px;
    font-family: Gotham Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 132px;  
    text-align: center;
    color: #000000;
    margin:0px
}

.graphicbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px 0px;
}

.gbox{
    width: 70%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h3{
    position: static;
    width: 100%;
    height: 75px;
    background: #007AFF;
    border: 4px solid #000000;
    font-family: Gotham Rounded;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
}

#grafica{
    border: solid black;
    border-width: 0px 4px 4px 4px;
    width: 100%;
    height: 100%;
    margin: 0px;
}
