.nav a{
    color: white;
    text-decoration-style: none;
    font-family: 'Alata', sans-serif;
    font-size: 19px;
}
.fondo{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 100vh;
}
.navegacion{
    border-bottom: 2px solid black;
}
.invertir{
    border: 0.5px solid black;
}