.fondo{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 100%;
}
.imgmodificar{
    width: 90%;
    height: 45%;  
}
.tabla{
    overflow:scroll;
    height:480px;
}