.nav a{
    color: white;
    text-decoration-style: none;
    font-family: 'Alata', sans-serif;
    font-size: 19px;
}
.nav a:hover{
    transition: 1.1s;
}
.fondo{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 100%;
}
.navegacion{
    border-bottom: 2px solid black;
}
.titulo{
    padding: 15px;
    text-align: center;
}
#peque{
    font-size: 25px;
}
img {
    width: 700px;
    margin: 20px auto;
    display: block;
    border: 3px solid black;
    background-color: #948f8f;
}
.dir{
    font-size: 40px;
    color:white;
}
.titulop{
    font-family: 'Alata', sans-serif;
}