.nav a{
    color: white;
    text-decoration-style: none;
    font-family: 'Alata', sans-serif;
    font-size: 19px;
}
.nav a:hover{
    transition: 1.1s;
}
.fondo{
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 100%;
}
.navegacion{
    border-bottom: 2px solid black;
}
.imgv{
    margin: 5px;
    padding: 2px;
    border: 0.5px solid white;
}

.con{
    position: relative;
    display: inline-block;
    text-align: center;
}
.botonEnlace{
    position: absolute;
    bottom: 5%;
    left: 27%;
    transform: translate(-50%, -50%);
    background-color: #01541c;
    color: white;
    font-family: 'Alata', sans-serif;
    border: 0.5px solid black;
}
.botonEnlace:hover{
    color: white;
    background-color: #14a342;
}
